body{
background-color: navajowhite;
}

h1{
    text-align: center;
    font-size: large;
}

.square{
    background-color:brown;
    position:relative;
    border-style:solid;
    border-color: black;
    border-radius: 10%;
    height: 250px;
    width: 200px;
    margin:auto;
    padding: 20px;
    margin: 25px;
    animation: first 2s;
    animation-fill-mode: forwards;
}
@keyframes first {
 0%{
    left:0;    
 }
 
 100%{
    left:600px;
    
 }
 
}


img{
    border-radius: 50%;
    height: 45%;
    width: 55% ;
    margin:auto;
    display: flex;
    justify-content: center;   
}
p0{
    display: block;
    text-align: center;
    font-weight: bold;
}
p1{
    margin: auto;
    display: block;
}

p1::after{
    content:'_______';
}

.box-model{
    background-color:bisque;
    margin: auto;
    border: 2px solid black;
    width: 150px;
}

p2{
    
    justify-content: center;
    display:block;
    text-align:center;
}


p3{
    display:block;
    text-align: center;
}
.square1{
    background-color:bisque;
    position:absolute;
    border-style:solid;
    border-color: black;
    border-radius: 10%;
    height: 250px;
    width: 200px;
    margin:auto;
    padding: 20px;
    margin: 25px;
    animation: second 2s;
    animation-fill-mode: forwards;
}
@keyframes second {
    0%{
       right:0;    
    }
    
    100%{
       right:610px;
       
    }
}

p4{
    display: block;
    text-align: center;
    font-weight: bold;

}

p5::after{
    content: '________';
}

.box-model1{
    background-color: brown;
    margin: auto;
    border: 2px solid black;
    width: 150px;
}

p6{
    text-align: center;
    display: block;
}

.square2{
    background-color: brown;
position:relative;
border-style:solid;
border-color: black;
border-radius: 10%;
height: 250px;
width: 200px;
margin:auto;
padding: 20px;
margin: 25px;
top:350px;
animation: first 2s;
animation-fill-mode: forwards;
}

p7{
    display: block;
    text-align: center;
    font-weight: bold;
}

p8::after{
    content:'_______'

}


.box-model2{
    background-color: bisque;
    margin: auto;
    border: 2px solid black;
    width: 150px;
}

p9{
    text-align: center;
    display: block;
}

.square3{
    background-color: bisque;
    position:absolute;
    border-style:solid;
    border-color: black;
    border-radius: 10%;
    height: 250px;
    width: 200px;
    margin:auto;
    padding: 20px;
    margin: 25px;
    top:1015px;
    animation: second 2s;
animation-fill-mode: forwards;
}

p10{
    display: block;
    text-align: center;
    font-weight: bold;
}

p11::after{
    content:'_________';
}

.box-model3{
    background-color: brown;
    margin: auto;
    border: 2px solid black;
    width: 150px;

}

p12{
    text-align: center;
    display: block;
}

.square4{
    background-color: brown;
    position:relative;
    border-style:solid;
    border-color: black;
    border-radius: 10%;
    height: 250px;
    width: 200px;
    margin:auto;
    padding: 20px;
    margin: 25px;
    top:650px;
    animation: first 2s;
    animation-fill-mode: forwards;
}

p13{
    display: block;
    text-align: center;
    font-weight: bold;
}

p14::after{
    content:'_____'

}

.box-model4{
    background-color: bisque;
    margin: auto;
    border: 2px solid black;
    width: 150px;
}
p15{
        text-align: center;
        display: block;
}

button{
    background-color: burlywood;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    display: fixed;
    float: right;
}

 button:hover{
    cursor:pointer;
   width:200px;
   height: 100px;
   font-size: 30px;

 }